
.header-menu-container{
    padding: 0 10rem 0 10rem;
    font-family: sans-serif;
    font-weight: bold;
    height: 5rem;
    width: 100%;
    background-color: #0099FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-container #header-menu-logo{
    margin-top: 1rem;
}

.header-menu-container nav ul{
    list-style: none;
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.header-menu-container button{
    border: none;
    background-color: transparent;
    background-image: url('../../assets/menu-white-18dp.svg');
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}


.header-menu-container a:visited, .header-menu-container a{
    color: #fff;
    text-decoration: none;
    
}

.header-menu-container li::after{
    content: '';
    display: block;
    background-color: #fff;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: width ease-in-out 200ms;
    
}
.header-menu-container li:hover{
    text-shadow: 1px 1px 0px rgb(0, 75, 88) ,1px 1px 10px rgba(113, 255, 231, 0.8);

}

.header-menu-container li:hover::after{
    width: 100%;
    
   
}



@media (max-width: 900px){
    .header-menu-container .nav-bar{
        display: none;
    }
    .header-menu-container button{
        display: inline !important;
    }
}

@media (max-width: 750px){
    .header-menu-container{
        padding: 0 5rem 0 5rem;
    }
}