.footer-container{
    padding-top: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    height: 18rem;
    width: 100%;
    background-color: #0099FF;
    display: flex;
    justify-content: space-evenly;
  
}

#footer-logo{
    margin-top: 1rem;
}

.footer-container nav ul{
    list-style: none;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.footer-container a:visited, .header-menu-container a{
    color: #fff;
}

.footer-container p{
    margin-top: 1.5rem;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.2rem;

}

.whatsappDiv{
    border: 2px solid #fff;
    width: fit-content;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

@media (max-width: 750px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        height: 40rem;
    }
}