.footer-container{
    padding-top: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    height: 18rem;
    width: 100%;
    background-color: #0099FF;
    display: flex;
    justify-content: space-evenly;
  
}

.footer-container #footer-logo{
    position: relative;
    top: -1rem;
}

.footer-container a:visited, .header-menu-container a{
    color: #fff;
}

.footer-container p{
    color: #fff;
    font-size: 0.8rem;
    line-height: 1.2rem;

}

.footer-container .whatsappBtn{
    border: 2px solid #fff;
    width: fit-content;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.footer-container .socialmedia{
    width: 25px;
    margin: 0.4rem;
}

.footer-container .behance{
    width: 34px;
    position: relative;
    top: 0.35rem;
}

.screen-fade{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.85;
    z-index: 4;
    transition: opacity 0.5s ease-in-out;
    animation: fadein 700ms;
}

@keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

.hidden{
    display: none;
}

.whatsapp-number{
    position: fixed;
    top: calc(50% - 7.5rem);
    left: calc(50% - 7.5rem);
    color: #000;
    margin: auto;
    background-color: white;
    width: 15rem;
    padding: 8px 0;
    text-align: center;
    z-index: 5;
    border-radius: 5px;
}

.whatsapp-number button{
    position: relative;
    top: -6px;
    left: 38px;
    border: 1px solid red;
    border-radius: 2px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 2px 6px;
    cursor: pointer;
    outline: none;
}


@media (max-width: 750px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        height: 40rem;
    }
}