body {
    margin: 0px;
    padding: 0 18% 0 18%;
    background-color: #232323;
}

.portfolio-intro{
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 0 50px 0 50px;
}

.portfolio-intro p{
    text-align: justify;
}

.portfolio-intro h1{
    font-size: 50px;
    margin-bottom: 300px;
}

.portfolio-intro h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.portfolio-projects {
    background-color: white;
}